/* Chair */
.chair {
  position: relative;
  top: -6.5em;
}

.chair-front {
  position: absolute;
  height: 162px;
  width: 300px;
  background-color: #9f351d;
  transition: 0.3s;
  transform: rotateY(-20deg);
  border-radius: 5px;
  z-index: 1;
  box-shadow: 5px 5px 5px #000, 5px 5px 5px gray;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.chair-back {
  position: absolute;
  left: 8em;
  top: 3em;
  height: 60px;
  width: 70px;
  background-color: #000;
  z-index: 1;
  border-radius: 15px;
}

.chair-back-pipe {
  position: absolute;
  left: 9.5em;
  top: 3em;
  height: 180px;
  width: 20px;
  background-color: #000;
  z-index: 1;
}

.chair-sit {
  position: absolute;
  top: 13em;
  height: 50px;
  width: 300px;
  background-color: #9f351d;
  transition: 0.3s;
  transform: rotateY(-20deg);
  border-radius: 5px;
  z-index: 2;
  box-shadow: 5px 5px 5px #000, 5px 5px 5px gray;
  border-radius: 15px;
}

/* Small chair */
.sm-chair {
  position: relative;
  top: -3em;
}

.sm-chair-front {
  position: absolute;
  height: 122px;
  width: 210px;
  background-color: #9f351d;
  transition: 0.3s;
  border-radius: 5px;
  z-index: 1;
  box-shadow: 5px 5px 5px #000, 5px 5px 5px gray;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 150px;
  border-bottom-right-radius: 150px;
}

.sm-chair-back {
  position: absolute;
  left: 6em;
  top: 3em;
  height: 50px;
  width: 50px;
  background-color: #000;
  z-index: 1;
  border-radius: 15px;
}

.sm-chair-back-pipe {
  position: absolute;
  left: 7em;
  top: 3em;
  height: 120px;
  width: 20px;
  background-color: #000;
  z-index: 1;
}

.sm-chair-sit {
  position: absolute;
  top: 10em;
  left: 1.1em;
  height: 50px;
  width: 210px;
  background-color: #9f351d;
  transition: 0.3s;
  border-radius: 5px;
  z-index: 2;
  box-shadow: 5px 5px 5px #000, 5px 5px 5px gray;
  border-radius: 15px;
}
