.var {
  color: rgb(229, 136, 167);
}

.string {
  color: rgb(157, 223, 26);
}

.boolean {
  color: rgb(238, 107, 151);
}

.method {
  color: rgb(80, 80, 251);
}

.return {
  color: aqua;
}

.number {
  color: orangered;
}

.name {
  color: #fff;
}

.resume-container {
  animation: moveIt 6s infinite ease-in-out;
}

.resume-img {
  filter: grayscale(100%);
}

@keyframes moveIt {
  0% {
    transform: scale(0.9);
  }
  25% {
    transform: scale(0.85);
  }
  50% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(0.85);
  }
}
