.overlay {
  position: fixed;
  background-image: linear-gradient(-90deg, #0b5351 49%, #edf6f9 51%);
  bottom: 0;
  opacity: 0.9;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 9;
}

.all-modals {
  position: relative;
}

.modal-wrapper {
  /* margin-top: 5px; */
  position: fixed;
  width: 86%;
  height: 90vh;
  top: 100em;
  top: 5.5%;
  left: 7%;
  z-index: 10;
  overflow: scroll;
  /* background-color: black; */
  /* right: 90em; */
  /* margin-right: 50%; */
  /* margin-left: 50%; */
  /* transform: translate(50%, 50%); */
}

.about-modal {
  background-color: gray;
  /* box-shadow: 5px 5px 5px rgb(8, 8, 8), 5px 5px 5px rgb(51, 50, 50); */
  padding: 0px 18px;
}

.about-page {
  background-color: #171716;
  border: 2px solid #000;
  height: auto;
}

.project-modal {
  background-color: gray;
  padding: 0px 18px;
}

.project-page {
  background-color: #171716;
  border: 2px solid #000;
  height: auto;
}

.bi-fullscreen {
  animation: heartbeat 3s infinite ease-in-out;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }
  20% {
    transform: scale(1);
  }
  40% {
    transform: scale(0.9);
  }
  60% {
    transform: scale(1);
  }
  80% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(0.9);
  }
}

.project-1 {
  /* From https://css.glass */
  background: rgba(213, 157, 36, 0.398);
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(15px); */
  /* -webkit-backdrop-filter: blur(15px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-2 {
  /* From https://css.glass */
  background: rgba(255, 254, 254, 0.409);
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(15px); */
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-3 {
  /* From https://css.glass */
  background: rgba(192, 192, 192, 0.409);
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-4 {
  /* From https://css.glass */
  background: #000000d1;
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(15px);
  /* -webkit-backdrop-filter: blur(15px); */
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-5 {
  /* From https://css.glass */
  background: #02a6ed54;
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(15px); */
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project-6 {
  /* From https://css.glass */
  background: #b80c036c;
  /* background: red; */
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  /* backdrop-filter: blur(15px); */
  -webkit-backdrop-filter: blur(15px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.project {
  height: 105px;
}

.large-project {
  height: 250px;
}
