.languages {
  position: relative;
  font-size: smaller;
  top: 85px;
}

.shelf {
  position: absolute;
  right: 0;
  top: 8em;
  height: 25px;
  width: 320px;
  background-color: #434344;
  /* box-shadow: inset 4px 3px 1px #000; */
  border-radius: 5px;
}

.language-1 {
  position: absolute;
  right: 0;
  top: -6.9em;
  height: 199px;
  width: 25px;
  background-color: blue;
  border-radius: 3px;
  border: 2px solid #000;
}

.language-2 {
  position: absolute;
  right: 2.4em;
  top: -4.3em;
  height: 164px;
  width: 25px;
  background-color: rgb(209, 24, 24);
  border-radius: 3px;
  border: 2px solid #000;
}

.language-3 {
  position: absolute;
  top: -1.5em;
  right: 4.7em;
  height: 126px;
  width: 25px;
  border-radius: 3px;
  border: 2px solid #000;
}

.language-4 {
  position: absolute;
  right: 7em;
  top: -1.5em;
  height: 126px;
  width: 25px;
  background-color: rgb(71, 71, 162);
  border-radius: 3px;
  border: 2px solid #000;
}

.language-5 {
  position: absolute;
  right: 9.3em;
  top: -1em;
  height: 120px;
  width: 25px;
  background-color: orangered;
  border-radius: 3px;
  border: 2px solid #000;
}

.language-6 {
  position: absolute;
  right: 11.6em;
  top: -1em;
  height: 120px;
  width: 25px;
  background-color: rgb(60, 60, 255);
  border-radius: 3px;
  border: 2px solid #000;
}

.language-7 {
  position: absolute;
  right: 13.9em;
  top: -1em;
  height: 120px;
  width: 25px;
  background-color: rgb(90, 90, 238);
  border-radius: 3px;
  border: 2px solid #000;
}

.language-8 {
  position: absolute;
  right: 16.3em;
  top: -1em;
  height: 120px;
  width: 25px;
  background-color: orangered;
  border-radius: 3px;
  border: 2px solid #000;
}

.language-9 {
  position: absolute;
  top: -1em;
  height: 120px;
  width: 25px;
  background-color: yellow;
  right: 18.7em;
  border-radius: 3px;
  border: 2px solid #000;
}

.time {
  background-color: #434344;
}
