.monitor-container {
  /* background-color: red; */
  z-index: 4;
}

.monitor {
  /* position: relative; */
  height: 400px;
  width: 1300px;
  /* background-color: grey; */
  margin-top: 10rem;
  border: 7px solid grey;
  border-radius: 5px;
  box-shadow: 3px 4px 9px #000;
  background-color: #000;
  z-index: 1;
}

.leg {
  margin-top: 5px;
  height: 30px;
  width: 200px;
  background-color: gray;
  border-radius: 4px;
  z-index: 1;
  box-shadow: 5px 10px 80px#000;
}

.table {
  position: absolute;
  width: 88%;
  border-left: 25px solid transparent;
  top: 36em;
  border-bottom: 100px solid #dddddd;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
}

.front-table {
  margin-top: 78px;
  width: 100%;
  height: 20px;
  background-color: #000;
  border-radius: 5px;
}

.keyboard {
  position: absolute;
  width: 30%;
  border-left: 25px solid transparent;
  top: 37em;
  left: 15em;
  border-bottom: 65px solid #404040;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top-left-radius: 30px;
  z-index: 2;
}


